<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>图片服务器</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
    <style>
        .on-active{
            color: #fff;
            font-weight:700 ;
        }
        .on-unactive{
            color: rgb(200,200,200);
            font-weight:700 ;
        }

    </style>
</head>

<body id="blog-article-sidebar">


<div id="app">
    <div class="am-u-sm-12 am-u-sm-centered" style="background-color: rgb(39,44,49);padding-top: 5px;padding-bottom: 5px">
        <ul class="am-nav am-nav-pills am-u-sm-10 am-u-sm-centered">
            <li ><a href="#" class="on-active">首页</a></li>
            <li><a class="on-unactive" href="#">项目</a></li>
            <li><a class="on-unactive" href="#">关于</a></li>
            <li style="float: right" v-show="username == '登录'"><a class="on-unactive" href="login.html">登录</a></li>
            <li  v-if="username != '登录'" style="float: right" data-am-dropdown>
                <a class="am-dropdown-toggle on-unactive" data-am-dropdown-toggle >
                    {{username}} <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content" >
<!--                    <li class="am-dropdown-header">Header</li>-->
                    <li><a href="#">用户中心</a></li>
                    <li ><a href="#">图片管理</a></li>
                    <li class="am-divider"></li>
                    <li><a href="javascript:;" v-on:click="logout()">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <hr>
    <!-- nav start -->
    <nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

      <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
        </ul>
          <form class="am-topbar-form am-topbar-right am-form-inline" v-on:submit.prevent="imageUpload()">
              <div class="am-form-group">
                  <input type="file" v-on:change="changeImage($event)" class="am-form-field am-input-sm">
              </div>
              <div class="am-form-group">
                  <input type="submit" class="am-form-field am-input-sm"  style="height:41px" value="上传"/>
              </div>
          </form>
      </div>
    </nav>
    <!-- nav end -->
    <hr>
    <!-- content srart -->
    <div class="am-g am-g-fixed blog-fixed blog-content">

<!--           // <div id="container">-->
                <div v-for="(image,index) in images">
                    <div style="float: left;margin-right: 30px">
                        <a v-bind:href="'imageShow?imageId=' + image.imageId">
                        <img v-bind:src="'imageShow?imageId=' + image.imageId" style="height:200px; width:200px;" >
                        <p style="text-align: center">{{image.imageName}}</p>
                        </a>
                    </div>

                    <div style="float: left">
                        <ul class="am-nav am-nav-tabs">
                            <li v-on:click="change(index,0)" v-bind:class="[image.index==0?'am-active':'']"><a>图片（URL）链接</a></li>
                            <li v-on:click="change(index,1)" v-bind:class="[image.index==1?'am-active':'']"><a>网页贴图代码（HTML）</a></li>
                            <li v-on:click="change(index,2)" v-bind:class="[image.index==2?'am-active':'']"><a>Markdown代码</a></li>
                            <li v-on:click="change(index,3)" v-bind:class="[image.index==3?'am-active':'']"><a>Markdown代码的图片地址</a></li>
                        </ul>
                        <input style="width: 100%;height: 30px;line-height: 50%;margin-top: 60px;margin-bottom: 20px" type="text" v-bind:value="image.url[image.index]" readonly="readonly">
                    </div>

                    <br>
<!--                    <h5 style="margin-left: auto; margin-right: auto;display: inline-block"></h5>-->
                    <br>

                    <button style="width:100%" class="am-btn am-btn-success" v-on:click.stop="remove(image.imageId)">删除</button>
                    <hr>
                </div>
<!--           // </div>-->

    </div>

</div>
<!-- content end -->
<footer class="blog-footer">
    <div class="blog-text-center">© Copyright by Onen </div>
</footer>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/pinto.min.js"></script>
<script src="assets/js/img.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    var app = new Vue({
        el:'#app',
        data: {
            images: [
            ],
            uploadImage: '',
            username:"登录",

        },
        created:function (){
          var cookies = document.cookie.split(";");
          console.log(cookies);
          for(i = 0;i < cookies.length;i++){
              var tmp = cookies[i].split("=");
              console.log(tmp);
              if(tmp[0] == "username"){
                  this.username = tmp[1];
              }
          }
        },
        methods: {
            getImages() {
                $.ajax({
                    url: "image",
                    type: "get",
                    context: this,
                    success: function(data, status) {
                        this.images = data;
                        console.log(data)
                        $("#app").resize();
                    }
                })
            },
            logout(){
              $.ajax({
                  url:"logout",
                  type:"get",
                  context:this,
                  success: function (data,status){
                      alert("退出成功！");
                      location.href = "index.html";
                  }
              })
            },
            changeImage(event){
                app.uploadImage = event.target.files[0];
            },
            imageUpload(){
                if(!app.uploadImage) {
                    alert("选择图片后上传");
                    return;
                }
                let data = new FormData();
                data.append("uploadImage", app.uploadImage);
                $.ajax({
                    url: "image",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: data,
                    context: this,
                    success: function(data, status) {
                        app.getImages();
                        alert("上传成功");
                    },
                })
            },
            remove(imageId) {
                if(confirm("确定要删除嘛？删除之后不可撤销！")) {
                    $.ajax({
                        url: "image?imageId=" + imageId,
                        type: "delete",
                        context: this,
                        success: function (data, status) {
                            app.getImages();
                            alert("删除成功");
                        }
                    })
                }
            },
            change(index, on){
                this.images[index].index = on;
            }
        },
    });
    app.getImages();
</script>
</body>
</html>