<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <style>
        body{
            background-color: rgb(250,250,250);
        }
        .main{
            -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
            -moz-box-shadow:0px 3px 3px #c8c8c8 ;
            box-shadow:0px 3px 3px #c8c8c8 ;
            border-radius: 2%;
            background-color: #fff;
        }
    </style>
</head>
<body>

    <div id="app" class="main am-u-sm-centered" style="width: 450px;background-color: #fff;margin-top: 150px;padding: 60px 70px">
        <h2 style="text-align: center">登录</h2>
        <div class="am-input-group">
            <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
            <input name="username" v-model="username" type="text" class="am-form-field" placeholder="用户名">
        </div>
        <p></p>
        <div class="am-input-group" style="margin-bottom: 30px">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <input  name="password" v-model="password" type="password" class="am-form-field" placeholder="密码">
        </div>
        <div>
            <span style="color: red">{{msg}}</span>
            <p></p>
        </div>

        <button v-on:click ="login" style="background-color: #0f9fdb;color: #fff;font-weight: 700;text-align: left; margin-right: 30px" type="button" class="am-btn am-btn-default am-round">登录</button>
        <span>没有账号？去 <a style="color: #0f9fdb" href="register.html"><u>注册</u></a></span>
    </div>



    <script src="assets/js/jquery.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/pinto.min.js"></script>
    <script src="assets/js/img.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                username:"",
                password:"",
                msg:""
            },
            methods:{

                login:function (){
                    var that = this;
                    $.ajax({
                        url:"login",
                        type:"POST",
                        data:{
                            "username":this.username,
                            "password":this.password
                        },
                        dataType:"json",
                        success:function (ret){
                            console.log(ret)
                            if(ret.state == 200){
                                console.log(ret);
                                alert("登录成功！");
                                location.href="index.html"
                            }else{
                                that.msg = ret.msg;
                            }
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>